@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: red 1px dashed;
}
body{
    background-color: #161616;
    font-family: 'Kanit', sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}  
.left-column {
    width: 350px;
    min-width: 350px;
    background-color: #1f1f1f;
}
.center-column {
    flex: 1;
    min-width: 500px;
    display: flex;
    align-items: center;
}
.right-column {
    width: 250px;
    min-width: 200px;
    background-color: #1f1f1f;
}
.section-container{
    max-height: 75vh;
    padding-bottom: 30px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}
.section-box{
    outline: #878787 1px solid;
    padding: 15px;
    border-radius: 15px;
    width: 320px;
    margin-top: 30px;
    position: relative;
}
.section-box-title{
    position: absolute;
    font-size: 20px;
    color: #878787;
    top: -16px;
    left: 40px;
    background-color: #1f1f1f;
}
.section-property{
    color: #fcfcfc;
    width: 270px;
    height: 30px;
    margin: 5px;
    position: relative;
}
.section-property input{
    width: 50px;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 18px;
    text-align: center;
    margin-left: 5px;
    background-color: #161616;
    color: #fcfcfc;
    outline: #505050 1px solid;
}
.px-desc{
    font-size: 13px;
    margin-left: 3px;
}
.copy-icon{
    background-color: #060606;
    right: 40px;
}
.clean-icon{
    background-color: #9b9b9b;  
    right: 10px;
}
.section-button{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}
.section-button:hover{
    box-shadow: rgb(255, 255, 255, 0.2) 0px 0px 5px;
}
.section-button:active{
    border: none;
}
.section-button img{
    width: 18px;
    height: 18px;
}
.buttons-holder{
    width: 100px;
    position: absolute;
    top: 15%;
    right: 0;
}
#color-picker{
    top: 1px;
    right: 140px;
    position: absolute;
    width: 20px;
    height: 24px;
    margin: 0px;
    padding: 0;
    border: 0;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
}
#color-picker::-webkit-color-swatch{
    border: none;
    border-radius: 5px;
}
.code-holder{
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #505050;
    }
    &::-webkit-scrollbar-track {
        background-color: #292929;
    }
}
.copy{
    width: 100px;
    height: 20px;
    margin-left: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #444444 ;
}
.pasted-code{
    background-color: #131313;
    width: 240px;
    height: 290px;
    border-radius: 10px;
    border: none;
}
#subject{
    transition: all 0.3s;
}